 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>   
              
         <div th:replace="~{fragment :: styles}"></div>
         
         <title>NAGOYA MESHI</title>	
     </head>
     <body>
        <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             
             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div th:if="${param.loggedIn}" class="alert alert-info">
                         ログインしました。
                     </div>  
                     
                     <div th:if="${param.loggedOut}" class="alert alert-info">
                         ログアウトしました。
                     </div>
                      <div th:if="${successMessage}" class="alert alert-info">
                         <span th:text="${successMessage}"></span>
                     </div>  
                       <div class="d-flex justify-content-center">                                            
                         <form method="get" th:action="@{/restaurants}" class="mb-5 nagoyameshi-search-form">
                             <div class="input-group">
                                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名・目的地">
                                 <button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button> 
                             </div>               
                         </form>                        
                     </div>                                                                                                  
                                                      
                    
                     
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">                    
                     
                             <h2 class="text-center mb-3">カテゴリーから探す</h2>                                        
                             <table class="table">
                             <tbody>                                                     
                                <tr>
                                     <th>和食</th>
                                     <td>
                                          <a th:href="@{/restaurants?category=和食}">和食</a>
                                     </td>                                     
                                </tr>  
                                 <tr>
                                      <th>韓国料理</th>
                                      <td>
                                          <a th:href="@{/restaurants?category=韓国料理}" class="me-2">韓国料理</a>
                                      </td>                                     
                                </tr>  
                                 <tr>
                                      <th>イタリアン</th>
                                      <td>
                                           <a th:href="@{/restaurants?category=イタリアン}" class="me-2">イタリアン</a>
                                      </td>                                     
                                </tr>  
                                 <tr>
                                        <th>焼肉</th>
                                        <td>
                                            <a th:href="@{/restaurants?category=焼肉}" class="me-2">焼肉</a>
                                        </td>                                     
                                 </tr>  
                                 <tr>
                                       <th>寿司</th>
                                       <td>
                                            <a th:href="@{/restaurants?category=寿司}" class="me-2">寿司</a>
                                       </td>                                     
                                 </tr>  
                                 <tr>
                                       <th>居酒屋</th>
                                        <td>
                                           <a th:href="@{/restaurants?category=居酒屋}" class="me-2">居酒屋</a>
                                        </td>                                     
                                 </tr>  
                                 <tr>
                                        <th>ひつまぶし</th>
                                        <td>
                                            <a th:href="@{/restaurants?category=ひつまぶし}" class="me-2">ひつまぶし</a>
                                        </td>                                     
                                  </tr>  
                                   <tr>
                                        <th>ハンバーガー</th>
                                        <td>
                                             <a th:href="@{/restaurants?category=ハンバーガー}" class="me-2">ハンバーガー</a>
                                        </td>                                     
                                   </tr>  
                                   <tr>
                                        <th>カレー</th>
                                        <td>
                                             <a th:href="@{/restaurants?category=カレー}" class="me-2">カレー</a>
                                        </td>                                     
                                   </tr>  
                                   <tr>
                                        <th>喫茶店</th>
                                        <td>
                                            <a th:href="@{/restaurants?category=喫茶店}" class="me-2">喫茶店</a>
                                        </td>                                     
                                   </tr>  
                                   <tr>
                                        <th>中華料理</th>
                                        <td>
                                            <a th:href="@{/restaurants?category=中華料理}">中華料理</a>
                                        </td>                                     
                                    </tr>                                                                                                                                                                                                                                                                                                                                                                           
                                </tbody>
                           </table>  
 
                         </div>
                     </div>            
                 </div>
             </main>
             
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>    
         
         <div th:replace="~{fragment :: scripts}"></div>     
     </body>
 </html>